<h1>New User Registration</h1>

<%= form_with model: @user do |form| %>
  <%= form.label :username, "Username: " %>
  <%= form.text_field :username %>

  <%= form.label :password, "Password: " %>
  <%= form.text_field :password %>

  <%= form.submit "Create User" %>
<% end %>
